body{
    background-color: rgb(179, 162, 142);
    
}
.container{
    
    background-color: orange;
    
}
.panel{
    max-width:320px;
    padding: 30px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;

   
}

.grid-container{
    display: grid;
    grid-template-areas:"a b c ";
   column-gap: 1rem;
    justify-content: center;  
  
    }
    table, th, td {
       border-bottom: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        text-align: left;
      }
      
      th {
        background-color: #1f2357;
        color: white;
      } 
      .container2{
    
        background-color: lightblue;    
      }

