body{
    background-color: rgb(228, 214, 199);
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;

}
h1{
    color: orange;
    text-align: center;
}
.container1{
    
    background-color: orange;
    max-width: 1100px;
    
}
.panel{
    max-width:320px;
    padding: 30px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
   
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    max-width: 900px;
    margin: 0 20px<;
}
    table, th, td {
       border-bottom: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        text-align: left;
        ;
      }
      
      th {
        background-color: #1f2357;
        color: white;
      } 
.grid-container2  {
        margin: 20px;
        border: #1f2357 2px solid;
        background-color: rgb(220, 230, 233);  
        max-width: 1100px;
        padding: 25px;
        border-radius: 20px;
       
      }
.grid-container3{
        margin: 20px;
        border: #1f2357 2px solid;
        background-color: #1f2357; 
        max-width: 1100px;
        padding: 30px;
        border-radius: 20px;
      }
      button{
        background-color: orange;
     
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
     


