body{
    background-color: antiquewhite;
}

h1{
    color: #ff008c;
    text-align: center;
}

.naslov{
    font-family: sans-serif;
}

#sadrzaj p{
    line-height: 0,9rem;
    color: blue
}

UL{
    list-style:  none;
}

ul li::before{
    content: '✌️';
}

OL{
    list-style-type: upper-roman;
}