body{
    background-color: rgb(83, 114, 95);
    font-family: 'Courier New', Courier, monospace;
}
button, input {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#rezultat{
  
    border: black solid 2px;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: seagreen;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 5px;
   
   
}