body {
    margin: 0;
    padding: 0;
    background: #000;                  /* crna pozadina */
    font-family: Arial, sans-serif;
    display: flex;                     /* centriranje */
    justify-content: center;           /* horizontalno */
    align-items: center;               /* vertikalno */
    height: 100vh;                     /* cijeli ekran */
}

.container {
    width: 450px;
    background: #fff;                  /* bijeli container */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25); /* blaga sjena */
}

.icon{
    align-items: center;
}