:root{
    --primarna-boja: #d1adcb;
    --naglasena-boja: #443936;
    --pozadina-svjetlo: rgb(189, 215, 223);
    }
body{ background-color: var(--pozadina-svjetlo);
    margin: 0 center;
   
 
    
}
.container{
   
   width: 90%;
   max-width: 1000px;
   min width: 300px;
   inline-size: 90%;
   max-inline-size: 400px;

   min-height:  100vh;
   min-block-size: 65vh;

   margin: 20px  auto;
   background-color: #ecf0f1;
       


   box-sizing: border-box;

   outlyne-style: solid;
   outlyne-width: 2px;
   outline-color: var(--naglašena-boja);
   outline-offset: 10px;
   border-radius: 1rem;
   padding: 20px;
   
}
h3{
    text-align: center;
    color: var(--naglasena-boja);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
blockquote{
    font-style: bold;
    color: var(--naglasena-boja);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    text-align: left;
    color: var(--naglasena-boja);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ol::before{
    content: "✓ ";
    color: #2472da;
}
h4{
    text-align: left;
    color: var(--naglasena-boja);
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


