:root{
    --primarna-boja: #d1adcb;
    --naglasena-boja: #443936;
    --pozadina-svjetlo: #070607;
    }
body{ background-color: var(--pozadina-svjetlo);
    margin: 0 center;
   
   
    
}
.container{
   width: 90%;
   max-width: 1000px;
   min width: 300px;
   inline-size: 90%;
   max-inline-size: 400px;

   min-height: 100vh;
   min-block-size: 65vh;

   margin: 20px  auto;
   background-color: #ecf0f1;



   box-sizing: border-box;

   outlyne-style: solid;
   outlyne-width: 2px;
   outline-color: var(--naglašena-boja);
   outline-offset: 10px;
}


