body {
    background: linear-gradient(to right, #011611 0%, #0c2236 62%, #0B5965 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 stupca */
    grid-template-rows: auto auto auto auto; /* 4 reda */
    grid-template-areas:
        "a a a a"
        "b b c c"
        "d d e e"
        "f f f f";
    gap: 20px; /* razmak između boxeva */
    padding: 20px;
    margin: 0;
}

/* Povezivanje HTML elemenata s grid područjima */
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }

/* Stil za sve kontejnere */
.container {
    border: 2px solid rgb(80, 78, 78); /* boja granice */
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000000; /* unutarnja sjena */
    padding: 20px;
    text-align: center;
    min-height: 150px;
}

/* Naslovi unutar container-a */
h1, h2, h3 {
    text-align: center;
    margin: 10px 0;
}

/* Dodatan vizualni efekt za boxeve (hover) */
.container:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    transform: translateY(-3px);
    transition: 0.3s;
}
button {
    background-color: #0f8a3e; /* zelena */
    border: 2px solid #0f8a3e;
    color: #011611; /* tamni tekst radi kontrasta */
    border-radius: 10px;
    padding:4px 200px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


h4{
    color: #0f8a3e;
}
input {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #0f8a3e;
    background: transparent;
    color: white;
}
.a {
    min-height: 200px;
}

.f {
    min-height: 100px;
}