body{
    background-color: rgb(10, 10, 10);
    font-family: Arial, sans-serif;
}
.box{   
    background-color: #3e4141;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

}
h1, p{
    color: white;
    text-align: center;
}
h2{
    color: #29aca1;
}

nav{
    list-style-type: disc;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
    background-color: #3e4141;
  
}

