body{
    background-color: azure;
    font-family: Arial, sans-serif;
    margin: 20px;

}
.box{
    border: 2px solid #ccc;
    max-width: 900px;
    margin: auto;
    border: 2px solid #ccc;
    padding: 15px;
    background-color: #e2dada;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);        }

h1{
    text-align: center;
    color: #161414;
}   
h2{
    color: #161414;
}
box2{
    max-width: 90px;
    margin: auto;
    border: 2px solid #ccc;
    padding: 15px;
    background-color: #d4e2da;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
box3{
    border: 2px solid #ccc;
    max-width: 90px;
    margin: auto;
    padding:15px;
    background-color: #dad4e2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
