body{
    background-color: azure;
    font-family: Arial, sans-serif;
 
    display: grid;
    grid-template-areas:
     "a a a a"
     ". b c ."
     "d d d d";
    grid-gap: 2px;
    padding: 20px;
}
.box{
    border: 2px solid #161616;
    border-radius: 1.5rem;
    max-width: 900px;
    margin: auto;
    padding: 15px;
    background-color: #e2dada;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);        }
 img{
    border-radius: 1.5rem;
    border: #161414 1px solid;
 }   
h1{
    text-align: center;
    color: #161414;
}   
h2{
    color: #161414;
}
.box2{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 10px;  
    gap: 10px;
    border: 2px solid #161616;
    border-radius: 1.5rem;
    background-color: #e2dada;
}
.box3{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 10px;  
    gap: 10px;
     border: 2px solid #161616;
     border-radius: 1.5rem;
     background-color: #e2dada;
}
.box4{
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    border: 2px solid #161616;
    border-radius: 1.5rem;
    max-width: 900px;
    margin: auto;
    background-color: #e2dada;
}
