body {
    background-color: rgb(225, 231, 231);
    font-family: Arial, sans-serif;

    display: grid;
    grid-template-columns: 1fr 1fr; /* dva stupca */
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "box box"
        "box2 box3"
        "box4 box4";
        column-gap: 20px;  /* horizontalni razmak između B i C */
    row-gap: 20px;     /* vertikalni razmak */

    padding: 20px;
}
.box  { grid-area: box; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box{
    
    border: 2px solid #161616;
    border-radius: 1.5rem;
    max-width: 900px;
    margin: auto;
    padding: 15px;
    background-color: #f1ecec;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);        }
 img{
    border-radius: 1.5rem;
    border: #161414 1px solid;
 }   
h1{
    text-align: center;
    color: #161414;
}   
h2{
    color: #161414;
}
.box2{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    ;
    margin: auto;
    padding: 10px;  
    gap: 10px;
    border: 2px solid #161616;
    border-radius: 1.5rem;
    background-color: #e2dada;
}
.box3{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    padding: 10px;  
    gap: 25px;
     border: 2px solid #161616;
     border-radius: 1.5rem;
     background-color: #e2dada;
}
.box4{
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    border: 2px solid #161616;
    border-radius: 1.5rem;
    max-width: 00px;
    margin: auto;
    background-color: #e2dada;

    padding: 8px;          /* manji padding */
    min-height: 60px;      /* duplo kraći */
    display: flex;
    align-items: center;
    justify-content: center;

}
.box,
.box4 {
    max-width: 900px;
   
}

.box2,
.box3 {
    width: 100%;
}