:root{
    background-color: black;
}
body {
    background-color: beige;
    }
.header{
    background-color: red;
}
.section{
    background-color: blue;
}

article{
    background-color: white;
}
asside{
    background-color: blueviolet;
}

footer{
    background-color: green;
}

